/*--RESET--*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
}

.container-fluid{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"]{
    flex: 0 0 auto;
}

section{
    padding-bottom: 30px;
}

/*-----ITEMS STYLE---*/

.text{
    color: white;
    text-align: center;
    font-size: 18px;
}



/*-----DEBUG-----*/

.debug [class*="col"]{
    background-color: #006CFA;
    padding: 20px 5px;
    border: 2px solid white;
}

.debug [class*="green"]{
    background-color: #00E165;
    border: 1px solid #006CFA;
}

.debug [class*="noborder"]{
    border: none;
    padding: 20px 0px;
    border-bottom: 2px solid white;
}
