/*--RESET--*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
}

.container-fluid{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"]{
    flex: 0 0 auto;
}

/*-----DEBUG-----*/

.debug [class*="col"]{
    background-color: #006CFA;
    padding: 20px 0;
    border: 2px solid white;
}