/*--RESET--*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
}

.container-fluid{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"]{
    flex: 0 0 auto;
}

section{
    padding-bottom: 30px;
}

/*-----ITEMS STYLE---*/

.text{
    color: white;
    text-align: center;
    font-size: 18px;
}



/*-----DEBUG-----*/

.debug [class*="col"]{
    background-color: #006CFA;
    padding: 20px 5px;
    border: 2px solid white;
}

.debug [class*="green"]{
    background-color: #00E165;
    border: 1px solid #006CFA;
}

.debug [class*="lessborder"]{
    border: none;
    padding: 20px 0px;
    border-bottom: 2px solid white;
}



.flex__start{
    display: flex;
    justify-content: flex-start;
}

.flex__center{
    display: flex;
    justify-content: center;
}

.flex__end{
    display: flex;
    justify-content: flex-end;
}

.big {
    height: 75px;
}

.small{
    height: 30px;
}

.flex__top{
    display: flex;
    align-items: flex-start;
}

.flex__middle{
    display: flex;
    align-items: center;
}

.flex__bottom{
    display: flex;
    align-items: flex-end;
}

.flex__space-ar{
    display: flex;
    justify-content: space-around;
}

.flex__space-bt{
    display: flex;
    justify-content: space-between;
}